body {
  padding-top:0;
}
.monash-brandheader {
  padding-top:0.5em;
}
.brand-label {
  text-transform:uppercase;
}
header {
  box-shadow: 0 3px 5px #ccc;
}
a {
  color: darken(#2196F3, 10%);
}
@mixin bg-primary {
  background-color: darken(#2196F3, 10%);
  a {
    color:#fff;
  }
}
@mixin bg-success {
  background-color: darken(#4CAF50, 10%);
}
@mixin bg-warning {
  background-color: #E51C23;
}
@mixin bg-notice {
  background-color: #E66300;
}
.bg-primary {
  @include bg-primary;
}
.panel-primary {
  > .panel-heading {
    @include bg-primary;
  }
}
.btn.btn-primary {
  @include bg-primary;
}
.btn.btn-feature {
  background-color:#343434;
  color:white;
  border-bottom:4px solid #343434;
  &:hover, &.active {
    background-color:black;
    border-bottom:4px solid #2196F3;
  }
}
.pass, .at-risk {
  text-transform:uppercase;
}
.pass {
  @include bg-success;
}
.at-risk {
  @include bg-warning;
}
.not-due {
  background-color:#ddd;
}
.due, .panel-warning > .panel-heading {
  @include bg-notice;
}
h1, h2 {
  font-weight:300;
  color:#006cab;
}
.flex-container-row .np {
  padding:0;
}
.score-container{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #444;
  color:white;
  .large-txt {
    color:white;
  }
  p {
    .badge{
      font-size: 20px;
      border-radius: 0;
      top: -4px;
    }
  }
}
.bs-component {
    position: absolute;
    top: -40px;
    left: 50px;
}
.graph {
    background: transparent url(images/graph.png) no-repeat;
    height: 150px;
    width: 150px;
    background-size: 80%;
    cursor:pointer;
    z-index:10;
}
/* --- material floating label --- */

.form-group {
    display: flex;
    height: 55px;
    position:relative;
}

.control-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
    margin-top:-15px;
}

.form-group.focused .control-label {
    transform: scale(0.75);
}

.form-control {
    align-self: flex-end;
}

.form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

.form-control:focus::-webkit-input-placeholder {
    transition: none;
}
